body {
    font-family: Arial, sans-serif;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    font-size: 30px;
    margin: 0 10px;
    color: #007bff; /* สีหลักของ Bootstrap */
    transition: color 0.3s;
}

.social-icon:hover {
    color: #0056b3; /* สีเมื่อมีการ hover */
}

h1, h5 {
    margin-bottom: 20px;
}
